@import url('https://fonts.googleapis.com/css?family=Noto%20Sans%20Tamil:700|Noto%20Sans%20Tamil:400');
@import "tailwindcss";

:root {
  --text: #070808;
  --background: #f8fafa;
  --primary: #68b0ae;
  --secondary: #a1dcda;
  --accent: #68d9d6;
}

body {
  font-family: 'Noto Sans Tamil';
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
p,
span,
a {
  font-family: 'Noto Sans Tamil';
  font-weight: 500;
}

html {
  font-size: 100%;
}
