@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


@import "tailwindcss";

:root {
  --text: #070808;
  --background: #f8fafa;
  --primary: #68b0ae;
  --secondary: #a1dcda;
  --accent: #68d9d6;
}


body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;

}

h1,
h2,
h3,
h4,
h5,
p,
span,
a,
button {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;

}

html {
  font-size: 100%;
}

.loader {
  animation: logo 1s ease-in-out infinite alternate;
}

@keyframes logo {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(20px);
  }
}

